<main>
  <h1 class="titulo">Selecciona tu imagen</h1>
  <div class="left">
    <form [formGroup]="form" class="it-flexbox" id="frm2" style="max-width: 640px">
      <fieldset class="container-grid">
        <div class="field x4">
          <input (change)="capturarFichero($event)" type="file" id="fileName" name="fileName" formControlName="fileName" class="form-control" style="float: right; width: 620px">
        </div>
      </fieldset>
  
      <h1 class="titulo">Configura el patrón</h1>
  
      <fieldset class="container-grid">  
        <div class="field x2">
          <label>Puntos ancho de Imagen</label>
        </div>
        <div class="field x2">
          <input type="number" id="width" name="width" formControlName="width" class="form-control" style="width: 300px" />
        </div>
  
        <div class="field x2">
          <label>Número de colores</label>
        </div>
        <div class="field x2">
          <input type="number" id="numberColours" name="numberColours" formControlName="numberColours" class="form-control" style="width: 300px" />
        </div>

        <div class="field x3"></div>
        <div class="field">
          <button (click)="procesarImagen()">Previsualizar</button>
        </div>


        <div class="field x2">
          <label>Nombre patrón</label>
        </div>
        <div class="field x2">
          <input type="text" id="name" name="name" formControlName="name" class="form-control" style="width: 300px" />
        </div>
  
        <div class="field x2">
          <label>Colección</label>
        </div>
        <div class="field x2">
          <select formControlName="collection" class="form-control">
            <option *ngFor="let collection of collectionList" [value]="collection.id">
              {{ collection.desc }}
            </option>
          </select>
        </div>

        <div class="field x2"></div>
        <div class="field x2">
          <button (click)="guardarPatron()" style="float: right;">Guardar patrón</button>
        </div>

      </fieldset>
    </form>
  </div>
  
  <div class="right">
    <div class="it-flexbox" id="frm2" style="max-width: 840px">
      <div class="img" *ngIf="imageB64">
        <p>Imagen original</p>
        <img width="600px" [src]="imageB64" alt="">
      </div>
      
      <div class="img" *ngIf="previewB64">
        Previsualización patrón
        <img width="600px" [src]="previewB64" alt="">
        {{ width }} x {{ height }} puntos
      </div>
    </div>
  </div>
  

  <div class="container bottom">
    <div class="field 100 text-center">
      <button class="middle history-back" (click)="goBack()">Volver</button>
    </div>
  </div>
</main>
